rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && (
        request.auth.uid == 'CYoiZHjZ2beF0ZWUJHr5n9Qq3rz2' ||
        request.auth.uid == 'fKO4Sj1dgShfBmC44z0h7zNZ6Ik1'
      );
    }

    match /boardMembers/{uid} {
      allow read;
      allow write: if isAdmin();
    }

    match /foundBoardMembers/{uid} {
      allow read;
      allow write: if isAdmin();
    }

    match /staffscholarship/{uid} {
      allow read;
      allow write: if isAdmin();
    }

    match /blogposts/{uid} {
      allow read;
      allow write: if isAdmin();
    }

    match /govLink/{uid} {
      allow read;
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
