@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --color-primary: hsl(97, 50%, 90%);
    --color-secondary: hsl(97, 50%, 10%);
    --color-tertiary: hsl(157, 80%, 20%);
    --color-accent: hsl(37, 80%, 20%);
    --ff: "Montserrat", sans-serif;
    --ff2: "Fira Code", monospace;
    --h1: bold max(36px, 4vw) / max(48px, 5vw) var(--ff);
    /* ^ is how you do dynamically resizing headings */
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
    --shadowdark: #00000030 0px 5px 10px 5px;
}


.dark {
    --color-primary: hsl(97, 50%, 10%);
    --color-secondary: hsl(97, 50%, 90%);
    --color-tertiary: hsl(157, 80%, 80%);
    --color-accent: hsl(37, 80%, 80%);
}

.subtext {
    font: var(--subtext);
}

header {
    position: sticky;
    background: var(--color-primary);
    top: 0;
    z-index: 5;
    margin: 20px auto;
    width: 90%;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    margin: auto;
    background: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--ff);
    font: var(--p);
}

/* html {
    scroll-snap-type: y mandatory;
} */

.section {
    margin: 0px auto;
    max-width: 1080px;
    height: 50vh;
    scroll-snap-align: start;

    width: 90%;
    max-width: 1080px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.mode {
    display: flex;
    gap: 8px;
    height: 20px;
}

.logo {
    width: 20%;
}


h1 {
    font: var(--h1);
    margin-top: 8px;
}

h2 {
    font: var(--h2);
    margin-top: 8px;
}

.col {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.col>* {
    flex: 1;
    min-width: 320px;
}

a {
    font: 600 1rem/1em var(--ff);
    color: var(--color-accent);
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 20px;
}

svg {
    fill: var(--color-secondary);
    width: 20px;
}

svg:hover {
    fill: var(--coloraccent);
}

#dark {
    width: 12px;
    fill: var(--color-secondary);
    cursor: pointer;
    background: var(--pre-color-primary);
    padding: 8px 11px;
    border-radius: 20px;
    box-shadow: var(--color-secondary)
}

.c1 {
    flex: 1;
}



.btn {
    display: inline-block;
    color: var(--color-primary);

    background: var(--color-accent);
    border-radius: 4px;
    margin: 8px 8px 8px 0px;
    padding: 12px 20px;
    border: solid 2px var(--color-accent);
}

.secondary {
    border: solid 2px var(--color-accent);
    color: var(--color-accent);
    background: var(--color-primary);
}

span {
    color: var(--color-accent);
}


@media (max-width: 800px) {
    section {
        flex-direction: column;
    }

    .c2 {
        width: 90%;
        padding: 20px;
    }
}